.profile{
  padding: 0;
}
    .filler{
      display: flex;
      justify-content: center;
    }
     .filler img{
      border: 1px solid black;
      height: 150px;
    }

    .profile_logo img{
        width: 100px;
        height: 100px;
        margin: 10px;
        border: 2px solid BLUE;
        cursor: pointer;
      }
      .profile_logo img:hover{
        height: 120px;
        width: 120px;
        
        transition: 300ms;
      }
      .status_block{
        margin-left: 10px;
        font-style: italic;
      }
      .status_input{
      
        outline:none;
      }

      .hidden{
        display: none;

      }
      .file_label{
        cursor:pointer;
        margin-left: 10px;
      }
      .avatar_change{
        margin-left: 10px;
        font-size: 10px;
        
        width: 80px;
      }
      .avatar_change:hover{
        outline: 1px solid #000;
      }
      .contacts{
        padding-left: 20px;
      }
      .form_button{
        border: 1px solid #000;
        text-align: center;
        color: aliceblue;
        font-weight: bold;
        margin-left: 20px;
        width: 37px;
        height: 20px;
        background: green;
      }